/* body {
    background-image: url('../images/peakpx.jpg');
    background-size: contain;
    background-position: center;
    width: 100%;
    height: auto;
} */
html {
    background: url(../images/peakpx.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

@media all and (max-width: 480px) {
    body {
        width: 100%;
        height: auto;
        background-size: contain;
        background-position: center;
    }
}

@media all and (max-width: 768px) {
    body {
        width: 100%;
        height: auto;
    }
}

h1 {
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;

}

#gameBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.letterBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    min-width: 60px;
    min-height: 60px;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #ebe9e9;
}

.filledBox {
    border: 2px solid black;
}

.letterRow {
    display: flex;
}

#keyboardCont {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboardCont div {
    display: flex;
}

.secondRow {
    margin: .5rem 0;
}

.keyboardButton {
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem;
    margin: 0 2px;
    flex-grow: 1;
    cursor: pointer;
    text-transform: uppercase;
}

button {
    margin: 0 .1rem;
}